In [1]:
import numpy as np
import pandas as pd

In [5]:
schools_file_path = '../Resources/schools_complete.csv'
students_file_path = '../Resources/students_complete.csv'

schools_df = pd.read_csv(schools_file_path)
students_df = pd.read_csv(students_file_path)

school_data_complete = pd.merge(students_df, schools_df, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [12]:
# Count the number of unique schools

school_count = school_data_complete["school_name"].nunique()

school_count

15

In [15]:
# Total number of students 

students_count = school_data_complete["Student ID"].nunique()

students_count

39170

In [36]:
# Total budget

total_budget = school_data_complete["budget"].unique().sum()

total_budget

24649428

In [26]:
# Average Math score

average_math_score = school_data_complete["math_score"].mean()

average_math_score

78.98537145774827

In [27]:
# Average Reading Score
average_reading_score = school_data_complete["reading_score"].mean()

average_reading_score

81.87784018381414

In [29]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)

passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()['student_name']

percent_passing_math = passing_math_count / float(students_count) * 100

percent_passing_math

74.9808526933878

In [31]:
# Percetnage of students who passed reading

passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()['student_name']

percent_passing_reading = passing_reading_count / float(students_count) * 100

percent_passing_reading

85.80546336482001

In [35]:
# Overall Passing (Students that passed math and reading)

overall_passing_count = school_data_complete[(school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)].count()['student_name']

overall_percent_passing = overall_passing_count / float(students_count) * 100

overall_percent_passing

65.17232575950983

In [41]:
# Create a high-level snapshot of the district's key metrics in a DataFrame

district_summary = pd.DataFrame({
                    "Total Schools" : [school_count] , 
                    "Total Students" : [students_count],
                    "Total Budget" : [total_budget],
                    "Average Math Score" : [average_math_score],
                    "Average Reading Score" : [average_reading_score],
                    "% Passing Math" : [percent_passing_math],
                    "% Passing Reading" : [percent_passing_reading],
                    "% overall Passing" : [overall_percent_passing]})

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)


district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% overall Passing
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326